# This is a basic workflow to help you get started with Actions

name: SYNC_RSS

# Controls when the action will run. 
on:
  push:
    branches:
      - 'main'
      - 'releases/**'
      
  # Allows you tothis workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-22.04
    
    env:
      TZ: Asia/Shanghai

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: git clone
        run: |
          git config --local user.email "liyupeng341@163.com"
          git config --local user.name "flaging-bot"
      # Runs a single command using the runners shell
      - name: update
        run:
          bash update.sh
